<mat-card class = 'example-container'>
    <mat-card-title class='mat-display-2'>{{name}}</mat-card-title>
    <p>_______________________________________________________________________________________</p>
    <mat-card-subtitle class='mat-h3'>New outdoor advertising channel has finally came. Taxi top advertising is the new way to spread your message to large audience more effectively. We believe by offering this marketing channel we are helping many businesses to grow.
    </mat-card-subtitle>
    <!-- <mat-grid-list cols ='1' rowHeight="2:1">   
        <img mat-card-image src='../../../assets/ezgif.com-webp-to-png (1).png' alt="Snow">
        <mat-card-content>
                Taxi cars are always moving together with the crowd. The most popular places, events in the city will be reached with your advertising campaign.
        </mat-card-content>
        <img mat-card-image src='../../../assets/ezgif.com-webp-to-png (2).png' alt="Snow">
        <img mat-card-image src='../../../assets/ezgif.com-webp-to-png.png' alt="Forest">
    </mat-grid-list> -->
    <mat-card-content>
    <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
              <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src='../../../assets/ezgif.com-webp-to-png.png' >
                <h2 style="margin-left: 70px;">MOBILE</h2>
                <p>Taxi cars are always moving together with the crowd. The most popular places, events in the city will be reached with your advertising campaign.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src='../../../assets/ezgif.com-webp-to-png (1).png' >
                <h2 style="margin-left: 70px;">NOTICABLE</h2>
                <p>Most of the time taxi cars drive in the city center making impossible not to notice advertising on the taxi roof. LED technology highlights your brand at night.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
              <div class="col-lg-4">
                <img class="bd-placeholder-img rounded-circle" width="140" height="140" src='../../../assets/ezgif.com-webp-to-png (2).png' >
                <h2 style="margin-left: 70px;">EFFECTIVE</h2>
                <p>Taxi top advertising is much more effective than other outdoor channels. Low CPI helps businesses to spread their message and reach large audience.</p>
                <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>
              </div><!-- /.col-lg-4 -->
            </div><!-- /.row -->
    </div>
    </mat-card-content>
</mat-card>
<app-sect3></app-sect3>