@import url('https://fonts.googleapis.com/css?family=Inconsolata|Nanum+Gothic|Open+Sans|Open+Sans+Condensed:300|Rubik');
mat-card{
    width:100%;
}

mat-card-title{
    width:100%;
    text-align:center;
    /* font-family: 'Inconsolata', monospace; */
    font-family: 'Rubik', sans-serif;
    font-size: 3rem;
    font-weight: bold;
}
p{
    color:black;
    text-align: center;
}
mat-card-subtitle{
    font-family: 'Open Sans', sans-serif;
    font-weight: 900;
    display:flex;
    width:70%;
    text-align: center;
    margin-left:140px;
}
img{
    margin-left:70px;
}
/* .container-full{
    display: flex;
} */