
@import url('https://fonts.googleapis.com/css?family=Poppins');

mat-card-title{
    text-align: center;
    width: 100%;
    height:250px;
    font-family: 'Poppins', sans-serif;
}
mat-card{
    background-color:lightgray;
}